<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudent" />
                <binding name="BasicHttpsBinding_IStudent">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IStudent1" />
                <binding name="BasicHttpsBinding_IStudent1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudent"
                contract="ServiceStudent.IStudent" name="BasicHttpBinding_IStudent" />
            <endpoint address="https://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IStudent"
                contract="ServiceStudent.IStudent" name="BasicHttpsBinding_IStudent" />
            <endpoint address="http://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudent1"
                contract="ServiceReference1.IStudent" name="BasicHttpBinding_IStudent1" />
            <endpoint address="https://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IStudent1"
                contract="ServiceReference1.IStudent" name="BasicHttpsBinding_IStudent1" />
        </client>
    </system.serviceModel>
</configuration>